@{
    ViewData["Title"] = "Home Page";
}

<p class="alert alert-danger">
    Dữ liệu nhận từ ViewBag: @ViewBag.message1
</p>

<p class="alert alert-danger">
    Dữ liệu nhận từ ViewData: @ViewData["message2"]
</p>
<p class="alert alert-info">
    TempData: @TempData["message3"]
</p>
