@{
    ViewData["Title"] = "Home Page";
}


<a href="/Home/Privacy" class="btn-success">Submit</a>

<a href="@Url.Action("/Home/Privac")" class="btn-success">Submit</a>

<a asp-action="Privacy" asp-controller="Home" class="btn-success">Submit</a>

@Html.ActionLink("Submit", "Privacy", "Home", new { @class = "btn-success" })
