@model DataSharing.Models.User
@{
    ViewData["Title"] = "Register";
}

<div class="container col-md-5">
    <h3>Đăng ký thành viên mới</h3>
    <form asp-action="Register" asp-controller="User" method="post">
        <div class="form-group">
            <label asp-for="UserName">Ten tai khoan</label>
            <input asp-for="UserName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="PassWord">Mat khau</label>
            <input asp-for="PassWord" class="form-control" type="password" />
        </div>
        <div class="form-group">
            <label asp-for="FullName">Ten nguoi dung</label>
            <input asp-for="FullName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" type="email" />
        </div>
        <div class="form-group">
            <input class="btn btn-success" type="submit" value="Đăng ký"/>
        </div>
    </form>
</div>

